{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="signUp-page signUp-minimal" style="padding-top: 200px;">
    <div class="shape-wrapper">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div> <!-- /.shape-wrapper -->
    <div class="signin-form-wrapper">
        <div class="title-area text-center">
            <h3>تسجيل دخول</h3>
        </div> <!-- /.title-area -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <form method='POST' id="login-form" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="input-group">
                        <input type="text" name="email" required>
                        <label>الإيميل</label>
                    </div> <!-- /.input-group -->
                </div> <!-- /.col- -->
                <div class="col-12">
                    <div class="input-group">
                        <input type="password" name="password" required>
                        <label>كلمة المرور</label>
                    </div> <!-- /.input-group -->
                </div> <!-- /.col- -->
            </div> <!-- /.row -->
            <div class="agreement-checkbox d-flex justify-content-between align-items-center">
                <a href="{% url 'password_reset' %}">نسيت كلمة السر ؟</a>
            </div>
            <button class="line-button-one" name="login_btn">دخول</button>
        </form>
        <p class="signUp-text text-center">ليس لديك حساب ؟ <a href="{% url 'signup' %}">سجل الآن</a></p>
    </div> <!-- /.sign-up-form-wrapper -->
</div> <!-- /.signUp-page -->
{% endblock content %}