{% extends 'base/auth_base.html' %}

{% block main_content %}
<div class="signUp-page signUp-minimal pt-50 pb-100">
    <div class="shape-wrapper">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div> <!-- /.shape-wrapper -->
    <div class="signin-form-wrapper">
        <div class="title-area text-center">
            <h3>Email Has Been Sent.</h3>
        </div> <!-- /.title-area -->
    </div> <!-- /.sign-up-form-wrapper -->
</div> <!-- /.signUp-page -->
{% endblock main_content %}