{% extends 'base.html' %}

{% block content %}
<div class="signUp-page signUp-minimal" style="padding-top: 200px;">
    <div class="shape-wrapper">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div> <!-- /.shape-wrapper -->
    <div class="signin-form-wrapper">
        <div class="title-area text-center">
            <h3>تم تغيير كلمة المرور بنجاح</h3>
            {{validlink}}
        </div> <!-- /.title-area -->
    </div> <!-- /.sign-up-form-wrapper -->
</div> <!-- /.signUp-page -->
{% endblock content %}