{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="theme-banner-one">
    <div class="illustration wow zoomIn animated" data-wow-delay="1s" data-wow-duration="2s">
        <img src="{% static "images/logo_final.png"%}" alt="">
        
    </div>
    <img src="{% static "images/shape/oval-1.svg"%}" alt="" class="oval-one">
    <img src="{% static "images/shape/shape-1.svg"%}" alt="" class="shape-three">
    <img src=" {% static "images/shape/shape-55.svg"%}" alt="" class="shape-four">
    
    <img src="{% static "images/shape/shape-56.svg"%}" alt="" class="shape-five">
    
    <img src="{% static "images/shape/shape-57.svg"%}" alt="" class="shape-six">
    <img src="{% static "images/shape/shape-58.svg"%}" alt="" class="shape-seven">
    <img src="{% static "images/shape/shape-59.svg"%}" alt="" class="shape-eight">
    <img src="{% static "images/shape/shape-60.svg"%}" alt="" class="shape-nine">
    <img src="{% static "images/shape/shape-61.svg"%}" alt="" class="shape-ten">
    <img src="{% static "images/shape/shape-62.svg"%}" alt="" class="shape-eleven">
    <div class="container">
        <div class="main-wrapper">
            <h1 class="main-title wow fadeInUp animated" data-wow-delay="0.4s"
            style="text-align:right;"
            >منصة القرآن الكريم للصم 
            </h1>
            <p class="sub-title wow fadeInUp animated" data-wow-delay="0.9s" >
                هذه المنصة صممت للتواصل مع الصم عن طريق لغة مشتركة بينهما
                <br>
                و يتضمن الموقع فيديوهات شرح لكلمات القران عن طريق لغة الإشارة
                <br>
                كما أنه يتضمن المصحف بلغة التهجّي الإصبعي.
                <br>
                 </p>
            <ul class="button-group lightgallery">
                <li><a href="about-us-standard.html" class="more-button solid-button-one wow fadeInRight animated" data-wow-delay="1.5s">المزيد عنا</a></li>

                <li><a data-fancybox href="https://www.youtube.com/watch?v=naR1CJPQw6c" class="fancybox video-button-one wow fadeInLeft animated" data-wow-delay="1.5s">شرح فيديو <i class="flaticon-play-button icon-right"></i></a></li>
            </ul>
        </div> <!-- /.main-wrapper -->
    </div> <!-- /.container -->
</div> <!-- /#theme-banner-one -->


<!-- 
=============================================
    What WE Do
============================================== 
-->
<div class="agn-what-we-do pt-150 pb-200">
    <img src="{% static "images/shape/shape-63.svg"%}" alt="" class="shape-one" data-aos="fade-right">
    <img src="{% static "images/shape/shape-56.svg"%}" alt="" class="shape-two">
    <div class="container">
        <div class="theme-title-one text-center">
            <div class="upper-title">هدفنا</div>
            <h2 class="main-title">تحفيظ الصم المسلمين في العالم  معاني ومفردات القرآن الكريم.
</h2>
<br><br>
        </div> <!-- /.theme-title-one -->
        
    

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-block">
                    <div class="icon">
                        <img src="{% static "images/shape/shape-2.svg"%}" alt="" class="bg">
                        
                        <img src="{% static "images/shape/icon1.svg"%}" alt="" class="shape" data-aos="zoom-in-down">
                        
                    </div>
                    <h5 class="title">البدايات</h5>
                    <p>كانت البداية عام 2014 حين بدأنا في ابتكار الأبجدية المشتركة وكتابة جزء عم بهذه الأبجدية..</p>
                </div> <!-- /.single-block -->
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-block">
                    <div class="icon">
                        <img src="{% static "images/shape/shape-2.svg"%}" alt="" class="bg">
                        <img src="{% static "images/shape/icon2.svg"%}" alt="" class="shape" data-aos="zoom-in-down">
                    </div>
                    <h5 class="title">أين نحن</h5>
                    <p>منتاجتنا الحاليه كلها مجانية .
                    <br>
•	تطبيق الموبيل ..تنزيل . (مجانا)
<br>
•	كتاب جزء عم . (مجانا)
<br>
•	كامل المصحف الشريف .(مجانا)
</p>
                </div> <!-- /.single-block -->
            </div>

            <div class="col-lg-4 co-12 d-md-none d-lg-block">
                <div class="single-block">
                    <div class="icon">
                        <img src="{% static "images/shape/shape-2.svg"%}" alt="" class="bg">
                        
                        <img src="{% static "images/shape/icon3.svg"%}" alt="" class="shape" data-aos="zoom-in-down">
                    </div>
                    <h5 class="title">سابقين فى العمل</h5>
                    <p>هناك من سبق بشكل غير منظم  وغير مستمر وهناك من قام بذلك ولكنه فقد المنهجية الواضحة واعتمد على لغته المحلية وليس لغة جامعة .. ومن هنا تاتي أهمية الجزء الخاص بمفردات المصحف .</p>
                    
                </div> <!-- /.single-block -->
            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.agn-what-we-do -->


        <div class="agn-contact-banner">
    <div class="container">
        <h2 class="title">من أي مكان في العالم يمكنك الآن
        
        <br>تحميل تطبيق مصحف الصم للأندرويد </h2>
        <a href="https://play.google.com/store/apps/details?id=com.fekrahouse.quranfordeaf" class="contact-button line-button-one">حمل التطبيق الآن</a>
    </div> <!-- /.contianer -->
</div> <!-- /.agn-contact-banner -->


<!-- 
=============================================
    About Us
============================================== 
-->
<div class="agn-about-us">
    <img src="{% static "images/shape/shape-61.svg"%}" alt="" class="shape-one">
    
    <img src="{% static "images/shape/shape-64.svg"%}" alt="" class="shape-two" data-aos="fade-right">
    <img src="{% static "images/shape/shape-65.svg"%}" alt="" class="shape-three" data-aos="fade-left">
    <img src="{% static "images/shape/shape-60.svg"%}" alt="" class="shape-four">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-last">
                <div class="text-wrapper">
                    <div class="theme-title-one">
                        <div class="upper-title">من نحن ؟</div>
                        <h2 class="main-title"> نبحث عن توحيد لغة الصم العربية عبر الإتفاق على مفردات المصحف الشريف .</h2>
                    </div> <!-- /.theme-title-one -->
                    <p>منصة تحفيظ الصم أسست عبر شركة بيت الفكرة والتي من مهامها مساعدة الآخرين على إنشاء حلول مبتكرة جديدة بناءً على 
                    الإحتياجات الحقيقية لمساعدة مجتمعنا على المضي قدمًا.</p>
                    <br><br>
                    <div class="author"><span class="name">وائل صبري, </span>مؤسس الشركة</div>

                    <img src="images/shape/signature.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="img-box">
                    <img src="{% static "images/560.png"%}" alt="" class="main-img">
                    
                </div>
            </div>
        </div>
    </div> <!-- /.container -->
    <a href="{% static "pdf/wael_cv.pdf"%}" class="learn-more theme-button-two" data-aos="fade-right">المزيد <i class="fa fa-angle-left icon-left" aria-hidden="true"></i></a>
</div> <!-- /.agn-about-us -->



<!-- 
=============================================
    Theme Counter
============================================== 
-->
<div class="agn-counter-section">
    <img src="{% static "images/shape/shape-55.svg"%}" alt="" class="shape-one">
    <img src="{% static "images/shape/shape-59.svg"%}" alt="" class="shape-two">
    <img src="{% static "images/shape/shape-61.svg"%}" alt="" class="shape-three">
    <div class="container">
        <div class="main-wrapper">
            <div class="theme-title-one text-center">
                <h2 class="main-title">تم توزيع 12 + ألف نسخة من جزء عم في 16 
                
                محافظة مصرية
                
                وفي 3 دول عربية ودولة إفريقية (النيجر) 
                </h2>
            </div> <!-- /.theme-title-one -->

            <div class="counter-wrapper">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="single-counter-box">
                              <h2 class="number"><span class="timer" data-from="0" data-to="12" data-speed="1200" data-refresh-interval="5">0</span>k</h2>
                              <p>نسخة من جزء عم داخل وخارج مصر </p>
                          </div> <!-- /.single-counter-box -->
                    </div>
                    <div class="col-sm-4">
                        <div class="single-counter-box">
                              <h2 class="number"><span class="timer" data-from="0" data-to="4" data-speed="1200" data-refresh-interval="5">0</span>+</h2>
                              <p>تم التوزيع في 4 دول . 3 دول عربية وواحده إفريقية
مصر- الجزائر-سوريا- النيجر
</p>
                          </div> <!-- /.single-counter-box -->
                    </div>
                    <div class="col-sm-4">
                        <div class="single-counter-box">
                              <h2 class="number"><span class="timer" data-from="0" data-to="15" data-speed="1200" data-refresh-interval="5">0</span>+</h2>
                              <p>القاهرة -إسكندرية-الشرقية-المنصورة – المنوفية -بني سويف-بورسعيد- جنوب سيناء-الوادي الجديد -المنيا-اسيوط-سوهاج-قنا- الأقصر -أسوان .</p>
                          </div> <!-- /.single-counter-box -->
                    </div>
                </div>
            </div> <!-- /.counter-wrapper -->
        </div> <!-- /.main-wrapper -->

        <div class="bottom-banner">
            <div class="clearfix">
                <div class="text">
                    <h3 class="title">هل لديك سؤال أو طلب ؟</h3>
                    <p>لا تتردد في التواصل معنا .</p>
                </div>
                <a href="mailto:quranfordeaf@gmail.com" class="contact solid-button-one">تواصل معنا</a>
            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.agn-counter-section -->


<!-- 
=============================================
    Our Gallery
============================================== 
-->
<div class="agn-our-gallery">
    <img src="{% static "images/shape/shape-62.svg"%}" alt="" class="shape-one">
    
    <img src="{% static "images/shape/shape-55.svg"%}" alt="" class="shape-two">
    <img src="{% static "images/shape/shape-61.svg"%}" alt="" class="shape-three">
    <div class="container">
        <div class="theme-title-one">
            <h2 class="main-title">صور و أرشيف توزيع المصحف</h2>
        </div> <!-- /.theme-title-one -->
    </div> <!-- /.container -->
    <div class="main-wrapper">
        <div class="gallery-slider lightgallery">
            <div class="item">
                <div class="img-box">
                    <img src="{% static "images/001.png"%}" alt="">
                    
                    <div class="hover-content">
                        <a href="{% static "images/001.png"%}" class="icon zoom fancybox" data-fancybox="images" data-caption="My caption">+</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img-box">
                    <img src="{% static "images/002.png"%}" alt="">
                    <div class="hover-content">
                        <a href="{% static "images/002.png"%}" class="icon zoom fancybox" data-fancybox="images" data-caption="My caption">+</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img-box">
                    <img src="{% static "images/003.png"%}" alt="">
                    <div class="hover-content">
                        <a href="{% static "images/003.png"%}" class="icon zoom fancybox" data-fancybox="images" data-caption="My caption">+</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img-box">
                    <img src="{% static "images/005.png"%}" alt="">
                    <div class="hover-content">
                        <a href="{% static "images/005.png"%}" class="icon zoom fancybox" data-fancybox="images" data-caption="My caption">+</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img-box">
                    <img src="{% static "images/004.png"%}" alt="">
                    <div class="hover-content">
                        <a href="{% static "images/004.png"%}" class="icon zoom fancybox" data-fancybox="images" data-caption="My caption">+</a>
                    </div>
                </div>
            </div>
            
        </div> <!-- /.gallery-slider -->
    </div> <!-- /.main-wrapper -->
</div> <!-- /.agn-our-gallery -->

<!-- 
=============================================
    Contact Banner
============================================== 
-->








<!-- Scroll Top Button -->
<button class="scroll-top tran3s">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</button>
{% endblock content %}