{% extends 'base.html' %}
{% load static deaf_tags %}
{% block content %}

<!-- Element Style -->
<div class="breadcrumbs-three b-wh-text mb-5" style="background-image: url({% static 'images/pray.svg' %}); background-position-x: center;">
    <div class="container">
        <h2 class="page-title">Breadcrumbs</h2>
        <ul class="page-breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li><i class="fa fa-angle-left" aria-hidden="true"></i></li>
            <li>Breadcrumbs</li>
        </ul>
    </div> <!-- /.container -->
</div> <!-- /.breadcrumbs-three -->

<!-- Element Style -->
<div class="element-section mb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <!-- The value of data-role should be z-tabs, data-options is optional to set options -->
                <div id='theme-tab-seven' style="display:grid; grid-template-areas: '. filter' 'nav content' '. pagination'; grid-column-gap: 10px; grid-template-columns: min-content auto;" class="theme-tab-solid icon-style theme-tab tab-resp" data-role='z-tabs' data-options='{"theme": "silver", "orientation": "vertical", "animation": {"duration": 400, "effects": "slideV"}}'>
                    <!-- Tab Navigation Menu -->
                        {% csrf_token %}
                        <ul class="tabs-menu clearfix" style="grid-area: nav;">
                            {% for word in paginator.object_list %}
                                <li><a id="word-{{word.id}}" data-getinfor="{{word.id}}"><button></button>{{word}}</a></li>
                            {% endfor %}
                        </ul>
                    <!-- Content container -->
                    <div class="content-main" style="background: none !important;">
                        <!-- Graphics -->
                        {% for word in paginator %}
                            <div class="z-content-pad">
                                <div class="z-content-inner tabs">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <form method="GET" style="grid-area:filter;">
                        <span class="theme-sidebar-widget" style="margin-bottom: 30px;display:grid; grid-template-columns: 75% 25%">
                                <span class="sidebar-search">
                                    <input type="text" placeholder="Search" style="min-width: 200px;">
                                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                                </span>
                            <span class="dropdown show" style="display:flex; justify-content: end;">
                                <button class="drop-btn btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                10
                                </button>
                                <div class="dropdown-menu dropdownMenu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(971px, 48px, 0px);">
                                    <button class="dropdown-item"><i class="fa fa-users drop-icon" aria-hidden="true"></i><span>All</span></button>
                                    <button class="dropdown-item"><i class="fas fa-user-tie drop-icon" aria-hidden="true"></i><span>Teachers</span></button>
                                    <button class="dropdown-item"><i class="fa fa-user drop-icon" aria-hidden="true"></i><span>Users</span></button>
                                </div>
                            </span>
                        </span>
                    </form>
                    <!-- Element Style -->
                    <span class="element-section pagination">
                        <div class="container">
                            <div class="theme-pagination-one text-center pt-15">
                                <ul style="display: flex; justify-content:center">
                                    {% if paginator and paginator.paginator.num_pages != 1 %}
                                        {% if paginator.has_next %}
                                            <li><a href="?page={{paginator.next_page_number}}"><i class="flaticon-next"></i></a></li>
                                        {% endif %}
                                        <div style="display: flex; direction: ltr;">
                                            {% for page in page_elibed %}
                                                {% if page == paginator.number %}
                                                <li class="active"><a href="?page={{page}}">{{page|convert_to_eastern_arabic}}</a></li>
                                                {% else %}
                                                    {% if page == '…' %}
                                                    <li>{{page}}</li>
                                                    {% else %}
                                                    <li><a href="?page={{page}}">{{page|convert_to_eastern_arabic}}</a></li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% if paginator.has_previous %}
                                            <li><a href="?page={{paginator.previous_page_number}}"><i class="flaticon-back"></i></a></li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

