{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div id="theme-banner-one">
		<div class="illustration wow zoomIn animated" data-wow-delay="1s" data-wow-duration="2s">
			<img src="{% static "images/shape/logo_v1.png"%}" alt="">
			
		</div>
		<img src="{% static "images/shape/oval-1.svg"%}" alt="" class="oval-one">
		<img src="{% static "images/shape/shape-1.svg"%}" alt="" class="shape-three">
		<img src=" {% static "images/shape/shape-55.svg"%}" alt="" class="shape-four">
		
		<img src="{% static "images/shape/shape-56.svg"%}" alt="" class="shape-five">
		
		<img src="{% static "images/shape/shape-57.svg"%}" alt="" class="shape-six">
		<img src="{% static "images/shape/shape-58.svg"%}" alt="" class="shape-seven">
		<img src="{% static "images/shape/shape-59.svg"%}" alt="" class="shape-eight">
		<img src="{% static "images/shape/shape-60.svg"%}" alt="" class="shape-nine">
		<img src="{% static "images/shape/shape-61.svg"%}" alt="" class="shape-ten">
		<img src="{% static "images/shape/shape-62.svg"%}" alt="" class="shape-eleven">
		<div class="container">
			<div class="main-wrapper">
				<h1 class="main-title wow fadeInUp animated" data-wow-delay="0.4s">قريبًا منصة تحفيظ كاملة<br>للصم.</h1>
				<p class="sub-title wow fadeInUp animated" data-wow-delay="0.9s">هذه المنصة صممت لتمكين الصم لحفظ القرآن الكريم <br> والتواصل مع الأصحاء ....</p>
				<ul class="button-group lightgallery">
					<li><a href="about-us-standard.html" class="more-button solid-button-one wow fadeInRight animated" data-wow-delay="1.5s">المزيد عنا</li>
	
					<li><a data-fancybox href="https://www.youtube.com/watch?v=naR1CJPQw6c" class="fancybox video-button-one wow fadeInLeft animated" data-wow-delay="1.5s">شرح فيديو <i class="flaticon-play-button icon-right"></i></a></li>
				</ul>
			</div> <!-- /.main-wrapper -->
		</div> <!-- /.container -->
	</div> <!-- /#theme-banner-one -->
{% endblock content %}